<h1>test</h1>

<a href=""></a>

<input type="button" onclick="window.location.href='./auth/spotify';" value="Spotify Auth" />

<input type="button" onclick="window.location.href='./list';" value="List Spotify" />

<hr>

