<link rel="stylesheet" href="./css/home.css">
<script src="https://unpkg.com/js-alert/dist/jsalert.min.js"></script>

<div class="row">
    <div class="col-10 offset-2">
        <h1 class="gradient">
            Spotify
            &#8594;
            Apple Music
        </h1>
        <br>

        <div class="row">
            <div class="col-8 offset-1">
                <h1 class="smallHeading">
                    The syncing utility allowing you to switch from spotify to
                    apple music with ease.

                </h1>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-10">
                <div class="cenBtn">
                    <input type="button" class="signin"
                        onclick="window.location.href='./auth/spotify';"
                        value="Sign In" />
                </div>
            </div>
        </div>


    </div>

</div>
</div>
</div>




<script>


    $(window).on("load", function () {

        if (location.hash == "#finished") {
        const alert = JSAlert.alert(
        "Congrats! Your playlist was created successfully",
        "Playlist Created Successfully!", JSAlert.Icons.Success)

    alert.addButton("Open Playlist").then(function () {

        window.open(
            "https://music.apple.com/library/playlist/{{newID}}",
            '_blank').focus();
        window.location.href = "../"

    });
            console.log("Hashed")
            console.log("Location: " + location.hash)


            alert.show()

        }
    })
</script>