.subHeader{
    color: white;
    font-family: 'Kanit', sans-serif;

}

.longText{
    color:white;
    font-family: 'Exo 2', sans-serif;

}

a{
    color:#FB8500;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;

}