.smallHeading {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: clamp(.8rem, 1.6rem, 3.5rem);
    font-weight: 300;

}


.cenBtn {
    text-align: center;
}

#gdf {
    visibility: hidden;
    display: none;
    /* opacity: 0; */
}

#gdf:target {
    visibility: visible;
    /* display:block; */
    /* opacity: 1;s */
}

.signin {

    background-color: #FB8500;
    font-family: 'Exo 2', sans-serif;
    border: none;
    font-size: 1.7rem;
    width: 100%;
    color: white;

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0e51a265;
    transition: opacity 500ms;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    display: block;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #062142;
    ;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.gradient {
    --bg-size: 300%;
    --color-two: hsl(353, 95%, 59%);
    --color-one: hsl(141, 73%, 42%);

    font-family: 'Kanit', sans-serif;
    font-size: clamp(1.8rem, 4.5rem, 6rem);

    background: linear-gradient(-90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .gradient {
        animation: move-bg 10s linear infinite;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

.footer {
    position:absolute !important;

}