h1{
    color: #FB8500;

}
html,body{
    background-color: #062142;
}

/* *{
    color:white;
} */
#logo{
    width:5%;
    aspect-ratio: 1/1;
    /* padding: none;
    margin: none; */
}
#main-title{
    color:#FB8500;
    font-size: 2.2rem;
}

.bs{
    border: 3px red dashed;
    border: none;
}
.headerHR{
    background-color: white;
    height:2px;
    line-height: 2px;
    border: none;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

