h1{
    color: #FB8500;

}
html,body{
    background-color: #062142;
}

/* *{
    color:white;
} */
#logo{
    width:5%;
    aspect-ratio: 1/1;
    /* padding: none;
    margin: none; */
}
#main-title{
    color:#FB8500;
    font-size: 2.2rem;
}

.bs{
    border: 3px red dashed;
    border: none;
}
.headerHR{
    background-color: white;
    height:2px;
    line-height: 2px;
    border: none;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.imgWrap{
    width: 100%;
   /* height: 100%; */
   aspect-ratio: 1/1;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.smallText{
    color: white;
    font-size: 1.2rem;
}

#main-title{
    font-family: 'Bruno Ace', cursive;
}

